{% extends "base.html" %}

{% block title %}About Adoption{% endblock title %}

{% block content %}

  <div id="about">

    <section class="first-row">
      <h2>{{ about.first_row_header }}</h2>
      <p>{{ about.first_row_text }}</p>
    </section>

    <section class="second-row">
      <h2>{{ about.second_row_header }}</h2>

      <ul>
        <li>
          <h3>{{ about.second_row_column_one_header }}</h3>
          <p>{{ about.second_row_column_one_text }}</p>
        </li>
        <li>
          <h3>{{ about.second_row_column_two_header }}</h3>
          <p>{{ about.second_row_column_two_text }}</p>
        </li>
        <li>
          <h3>{{ about.second_row_column_three_header }}</h3>
          <p>{{ about.second_row_column_three_text }}</p>
        </li>
      </ul>
    </section>

    <section class="third-row">
      <div class="call-to-action">
        <p>{{ about.call_to_action_text }}</p>

        <a href="{{ about.call_to_action_link }}">{{ about.call_to_action_button }}</a>
      </div>
    </section>

  </div>

{% endblock content %}
