{% extends "base.html" %}

{% block title %}{{ artwork.title }}{% endblock title %}

{% block content %}
  <div class="artwork">
    <div class="artwork-image">
    {% with artwork.artworkimage_set.all|first as artwork_image %}
    {% if artwork_image %}
      <img src="{{ MEDIA_URL }}{{ artwork_image.image }}" alt="{{ artwork.description }}">
    {% endif %}
    {% endwith %}
    </div>
    <section>
      <div class="artwork-content">
        <h2>{{ artwork.title }}</h2>
        <div class="artist">{{ artwork.artist_name }}</div>
        <br>
        <p>{{ artwork.description }}</p>
      </div>

      <aside>
        <ul>
          {% if last_checkin %}
          <li>
            <h4>Last check-in</h4>
            {{ last_checkin.0.timestamp|date:"F j, Y" }} by
            {{ last_checkin.0.user }}
          </li>
          {% endif %}
          {% if adoptees %}
          <li class="adopted">
            <h4>Adopted by</h4>
            <ul>
            {% for adoptee in adoptees %}
              <li>{{ adoptee.user }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li>
            <h4>Location</h4>
            {{ artwork.location_name }}<br>
            {% if artwork.street_1 %}
              {{ artwork.street_1 }}<br>
            {% endif %}
            {% if artwork.street_2 %}
              {{ artwork.street_2 }}<br>
            {% endif %}
            {{ artwork.city }}<br>
            {{ artwork.zipcode }}<br>
          </li>
        </ul>
        {% if not adopted %}
        <a href="/artwork/{{ artwork.id }}/adopt/">
          <button class="adopt">Adopt Me!</button>
        </a>
        {% if not request.user.is_authenticated %}
        {% if tipSubmitted %}
          Thanks for submitting your tip.
        {% else %}
        <a href="/artwork/{{ artwork.id }}/tip/">
          <button class="tip">Submit a Tip</button>
        </a>
        {% endif %}
        {% endif %}
        {% else %}
        <a href="/artwork/{{ artwork.id }}/check-in/"><button class="check-in">Check In</button></a>
        <a href="/artwork/{{ artwork.id }}/unadopt" class="cancel">Cancel Adoption</a>
        {% endif %}
      </aside>
    </section>

    <div class="details">
      <section>
        <h3>Artwork Details</h3>
        {% if artwork.artwork_type.all %}
        <h4>Artwork Type</h4>
        <p>{{ artwork.artwork_type.all.0 }}</p>
        {% endif %}
        {% if artwork.medium.all %}
        <h4>Medium</h4>
        <p>{{ artwork.medium.all|join:", " }}</p>
        {% endif %}
        <h4>Creation date</h4>
        {% if artwork.show_date_description %}
        <p>{{ artwork.date_description }}</p>
        {% else %}
        <p>{{ artwork.creation_date }}</p>
        {% endif %}
      </section>
    </div>
  </div>
{% endblock content %}
