{% extends "base.html" %}

{% block title %}{{ artwork.title }}{% endblock title %}

{% block content %}
  <div class="artwork">
    <div class="artwork-image">
    {% if artwork.artworkimage_set.all.0.image %}
      <img src="{{ MEDIA_URL }}{{ artwork.artworkimage_set.all.0.image }}" alt="{{ artwork.description }}">
    {% endif %}
    </div>

    <div class="artwork-content">
      <article>
        <h2>{{ artwork.title }}</h2>
        <p class="artist">{{ artwork.artist_name }}</p>
        <br>
        <p>{{ artwork.description }}</p>

        <h3>Artwork details</h3>
        <ul>
          <li>
            <h4>Artwork Type</h4>
            {{ artwork.artwork_type }}
          </li>
          <li>
            <h4>Medium</h4>
            {{ artwork.medium }}
          </li>
          <li>
            <h4>Creation date</h4>
            {{ artwork.creation_date }}
          </li>
        </ul>
      </article>

      <aside>
        <ul>
          <li>
            <h4>Location</h4>
            {{ artwork.location_name }}<br>
            {% if artwork.street_1 %}
              {{ artwork.street_1 }}<br>
            {% endif %}
            {% if artwork.street_2 %}
              {{ artwork.street_2 }}<br>
            {% endif %}
            {{ artwork.city }}<br>
            {{ artwork.zipcode }}<br>
          </li>
          {% if adoptees %}
          <li class="adopted">
            <h4>Adopted by</h4>
            <ul>
            {% for adoptee in adoptees %}
              <li>{{ adoptee.user }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
        {% if not adopted %}
        <a href="/artwork/{{ artwork.id }}/adopt/"><button class="adopt">Adopt</button></a>
        {% else %}
        <a href="/artwork/{{ artwork.id }}/check-in/"><button class="check-in">Check In</button></a>
        {% endif %}
      </aside>

    </div>
  </div>
{% endblock content %}
