{% extends "base.html" %}

{% block title %}Adopt public art today{% endblock title %}

{% block content %}

  <div id="map"></div>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: new google.maps.LatLng(34.043, -118.26),
        zoom: 10,
        scrollwheel: false
      });

      {% for artwork in artworks %}
      var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
        content: '<strong>{{ artwork.title }}</strong><br>{{ artwork.description }}'
      });

      var marker{{ forloop.counter }} = new google.maps.Marker({
        position: {
          lat: {{ artwork.lat }},
          lng: {{ artwork.lon }}
        },
        map: map,
        title: '{{ artwork.title }}'
      });

      marker{{ forloop.counter }}.addListener('click', function () {
        infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
      });
      {% endfor %}
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
  </script>

{% endblock content %}
