{% extends "base.html" %}

{% block title %}Adopt public art today{% endblock title %}

{% block content %}
  <div id="home">

    <ul class="artworks">
    {% for artwork in artworks %}
      <li data-artwork-id="{{ artwork.id }}" data-artwork-title="{{ artwork.title }}" data-lat="{{ artwork.lat }}" data-lon="{{ artwork.lon }}">
        <a href="/artwork/{{ artwork.id }}">
        <div class="image">
        {% with artwork.artworkimage_set.all|first as artwork_image %}
        {% if artwork_image %}
          <img src="{{ MEDIA_URL }}{{ artwork_image.image }}" alt="{{ artwork.description }}">
        {% endif %}
        {% endwith %}
        </div>
        <div class="info">
          <h2>{{ artwork.title }}</h2>
          <div class="author">{{ artwork.artist_name }}</div>
        </div>
        </a>
      </li>
    {% endfor %}
    </ul>

    <div id="map"></div>

  </div>
{% endblock content %}

{% block scripts %}
  <script src="/dist/js/app.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
  </script>
{% endblock scripts %}
