<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1>Feed</h1>

<a href="{{url_for('newPiece')}}" > <h3> Add a New Art Piece </h3> </a>

{% for piece in feed %}



<a href = "{{url_for('showPiece', piece_id = piece.id)}}"> <p>{{piece.title}}</p></a>

<p><a href = "{{url_for('editPiece', piece_id = piece.id)}}">Edit Art Piece</a></p>

<p> <a href = "{{url_for('deletePiece', piece_id = piece.id)}}">Delete Art Piece</a> </p>




{% endfor %}

</div>
</body>

</html>
