<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Art Piece</h1>

<form action="#" method = 'post'>


	<p>Title:</p>
		<input type ='text' size='30' name='title'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Latitude:</p>
		<input type ='text' size='30' name='latitude'>
	<p>Longitude:</p>
		<input type ='text' size='30' name='longitude'>
	<p>Image URL:</p>
		<input type ='text' size='30' name='img_url'>



<input type='submit' value='Create'>

</form>

</body>
</html>
