#about {
  text-align: center;

  h2 {
    font-size: 40px;
  }

  .first-row {
    color: #FFFFFF;
    background-color: #00B275;
    padding: 130px 0 80px 0;
    text-align: center;

    p {
      max-width: 750px;
      padding-top: 30px;
      font-size: 20px;
      font-weight: 400;
      line-height: 2em;
      margin: auto;
      text-align: left;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      padding: 30px 0;

      h2 {
        font-size: 30px;
      }

      p {
        padding: 20px;
      }
    }
  }

  .second-row {
    padding: 80px 0 60px 0;

    ul {
      max-width: 1000px;
      margin: 40px auto 0 auto;
      display: flex;
      flex-flow: row;
    }

    li {
      width: 33%;
      padding: 0 10px;
      display: inline-block;

      h3 {
        width: auto;
        font-size: 25px;
      }

      p {
        font-size: 19px;
        font-weight: 400;
        padding-top: 25px;
        text-align: left;
      }
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      padding: 30px;

      ul {
        display: block;
      }

      li {
        width: 100%;
      }
    }
  }

  .third-row {
    background: #F9F9F9;
    padding: 60px 0;
  }

  .call-to-action {
    max-width: 900px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1);
    margin: auto;
    padding: 60px 50px;

    p {
      font-size: 27px;
      line-height: 45px;
      text-align: left;
      padding: 0 70px 20px 70px;
    }

    a {
      width: 100%;
      background: linear-gradient(0deg, $red, $red-light);
      border-radius: 3px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 15px 20px;
      margin: 0 auto;
      color: #fff;

      &:hover {
        background: $red-light;
        text-decoration: none;
      }
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      margin: 40px 20px 20px 20px;
      padding: 30px;

      p {
        padding: 0;
      }
    }
  }
}
