/**/
/* Artwork page */
/**/

#artworks {
  padding: 100px 30px 30px 30px;
}

.artwork {
  padding-bottom: 80px;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding-bottom: 0;
  }

  .artwork-image {
    width: 100%;
    height: 400px;
    margin-top: 65px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      top: -50%;
      position: absolute;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      width: auto;
      height: 150px;
      margin: 10px 10px 0 10px;
      border-radius: 3px;
    }
  }

  section {
    width: 1020px;
    margin: 60px auto;
    position: relative;

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      width: auto;
      margin: 0 10px;
    }
  }

  .artwork-content {
    width: 750px;
    display: inline-block;

    h2 {
      font-size: 40px;
    }

    .artist {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: .5px;
      text-transform: uppercase;
      padding-top: 10px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }

    h3 {
      margin: 20px 0 20px 0;
      font-size: 25px;
    }

    ul {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 15px 0;
    }
    ul li {
      width: 150px;
      font-weight: bold;
      padding-left: 5px;
      border-right: 1px solid #ddd;
      display: inline-block;
    }
    ul li h4 {
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
    ul li:first-child {
      padding-left: 0;
    }
    ul li:last-child {
      border-right: none;
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      width: auto;
      padding: 15px 0;

      h2 {
        font-size: 25px;
      }

      .artist {
        padding-top: 5px;
      }
    }
  }

  aside {
    width: 275px;
    background-color: #fff;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
    top: -175px;
    right: -75px;
    bottom: auto;
    position: absolute;

    & > ul {
      padding: 25px 30px;
    }
    & > ul > li {
      padding-bottom: 25px;
    }
    & > ul > li h4 {
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
    & > ul > li:last-child {
      padding-bottom: 0;
    }

    button.adopt {
      width: 100%;
      background: linear-gradient(0deg, $red, $red-light);
      border-radius: 3px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 20px 0;
      margin-bottom: 0;
      color: #fff;

      &:hover {
        background: $red-light;
      }
    }

    button.check-in {
      width: 100%;
      background: linear-gradient(0deg, $green, $green-light);
      border-radius: 3px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 20px 0;
      margin-bottom: 0;
      color: #fff;

      &:hover {
        background: $green-light;
      }
    }

    .adopted ul li {
      display: inline-block;
    }
    .adopted ul li:after {
      content: ', ';
    }
    .adopted ul li:last-child:after {
      content: '';
    }

    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      width: 100%;
      top: auto;
      right: auto;
      font-size: 18px;
      box-shadow: none;
      position: relative;

      & > ul {
        padding: 0;
      }
      & > ul > li {
        padding-bottom: 25px;
      }
      & > ul > li h4 {
        font-size: 15px;
      }

      button {
        margin-top: 15px;
      }
    }
  }

  .details {
    background-color: #F9F9F9;
    padding: 30px 0;

    h3 {
      font-size: 30px;
      border-bottom: 1px solid #BCBCBC;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: .5px;
      text-transform: uppercase;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 10px 0 5px 0;
    }
  }
}
