/**/
/* Top level navigation bar
/**/

nav {
  box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.75);
  background-color: #fff;
  height: 65px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  h1 {
    padding: 15px 0 0 15px;
    display: inline-block;
  }

  ul {
    margin: 0 10px;
    padding: 0;
    text-align: right;
    float: right;

    li {
      margin: 10px;
      height: 40px;
      padding: 10px;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;

      &.logged-in {
        font-weight: normal;

        .user {
          font-weight: bold;
        }
      }
    }

    li.sign-up a {
      width: inherit;
      height: inherit;
      color: red;
      vertical-align: middle;
      font-weight: bold;
      border: 1px solid red;
      border-radius: 3px;
      padding: 0 20px;
      display: table-cell;
    }
    li.sign-up a:hover {
      text-decoration: none;
      color: #fff;
      background-color: red;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    box-shadow: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    position: relative;

    h1 {
      width: 190px;
      padding: 5px 0 0 10px;
      display: block;
    }

    ul {
      margin: 0;
      padding-top: 0;
      float: none;
      text-align: left;
      display: block;

      li {
        height: auto;
        padding: 0 10px;
        margin: 0;
        display: inline-block;
      }

      li.sign-up a {
        margin-top: 5px;
        padding: 0 5px;
      }
    }
  }
}
